//+-------------------------------------------------------------------------
//
//  Microsoft Windows
//
//  Copyright (C) Microsoft Corporation, 1997 - 1997
//
//  File:       hpsjusd.rc
//
//--------------------------------------------------------------------------

#include "hpsjusd.rcv"




